<div class="toolbar" style="position: relative;">
  <div style="display: inline-block;">
    <% if @book.present? %>
        <input id="book_id" type="hidden" value="<%= @book.id %>">
        <a id="parent_book" href="/books/<%= @book.id %>/back" class="btn">上一级</a>
    <% end %>

    <a href="javascript:;" class="btn new-book-btn">新建笔记本</a>

    <a href="/posts/new<%= "?book_id=#{@book.id}" if @book %>" class="btn">新建笔记</a>
  </div>
  <div class="operate-bar" style="display: inline-block;">
    <a href="#" class="btn">移动</a>
    <a href="#" class="btn">删除</a>
  </div>
  <div style="display: inline-block;position: absolute;right: 0;">
    <!-- TODO 搜索功能 -->
    <input id="key_word" type="text" style="border: 1px solid #808080;height: 24px;line-height: 24px;">
    <a href="#" class="btn search-btn">搜索</a>
  </div>
</div>
<div class="list-content">
  <%= render 'res' %>
</div>
<div class="new-book-win">
  <div class="win-title">
    <label>新建笔记本</label>
    <a href="javascript:;" class="close-btn">关闭</a>
  </div>
  <div class="win-content">
    <div style="padding-top: 10px;margin-left: auto;margin-right: auto;width: 250px;">
      <label class="name">笔记本名称</label>
      <input type="text" class="book-name" style="border: 1px solid #808080;height: 24px;line-height: 24px;">
      <input type="hidden" class="book-id">
    </div>
    <div class="toolbar" style="text-align: center;">
      <a class="btn sure" href="#">确定</a>
      <a class="btn cancel" href="#">取消</a>
    </div>
    <div style="height: 8px;"></div>
  </div>
</div>