<div id="demo_div" style="display: none;">
  <div class="post">
    <div class="code_demo">
      <div class="code_container">
        <div class="line">
          <code class="spaces"></code>
          <code class="keyword"></code>
          <code class="plain"></code>
          <code class="bold"></code>
          <code class="number"></code>
          <code class="string"></code>
          <code class="comments"></code>
        </div>
      </div>
    </div>

    <div class="warning_demo">
      <div class="warning_container"></div>
    </div>
    <div class="info_demo">
      <div class="info_container"></div>
    </div>
    <div class="note_demo">
      <div class="note_container"></div>
    </div>
    <div class="table_demo">
      <table>
        <tr>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>