<div class="toolbar" style="position: relative;">

  <div class="operate-bar" style="display: inline-block;">
    <%= link_to '编辑', edit_post_path(@post), class: 'btn' %>
  </div>

</div>
<div class="post">
  <div class="title">
    <label>
      <%= @post.title || "无标题" %>
    </label>
  </div>
  <div class="content">
    <%= @post.content.html_safe %>
  </div>
</div>